* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

body {
    background-color:moccasin;
}

h1, a {
    color:slateblue;
}

h1 {
    font-size: 80px;
}

a {
    text-decoration: none;
    font-size: 30px;
}